{% extends "layouts/base.twig" %}

{% block content %}
{% import 'PT/macros/navigation.twig' as nav %}

<h1>menu</h1>
<div id="navigation-default">
    {{ nav.page_tree() }}
</div>

<div id="navigation-id">
    {{ nav.page_tree({id: 'navid'}) }}
</div>

<div id="navigation-hide-index">
    {{ nav.page_tree({hide_index: true}) }}
</div>

<div id="navigation-depth-1">
    {{ nav.page_tree({depth: 1}) }}
</div>

<h1>sitemap</h1>
<div id="sitemap-default">
    {{ nav.sitemap() }}
</div>

<div id="sitemap-id">
    {{ nav.sitemap({id: 'navid'}) }}
</div>

<div id="sitemap-hide-index">
    {{ nav.sitemap({hide_index: true}) }}
</div>

<div id="sitemap-depth-1">
    {{ nav.sitemap({depth: 1}) }}
</div>

{% endblock content %}
