{% macro google_result( item ) %}
<li class="g">
    <h3 class="r">
        <a href="{{ item.url }}">{{ item.title }}</a>
    </h3>
    <div class="s">
        <div class="kv" style="margin-bottom:2px">
            <cite>{{ item.url }}</cite>
            <span class="flc"> - <a href="#">Cached</a> - <a href="#">Similar</a></span>
        </div>
        <span class="st">{{ item.desc }} </span>
    </div>
</li>
{% endmacro %}

{% macro google_results( items ) %}
    {% for item in items %}
        {{ _self.google_result(item) }}
    {% endfor %}
{% endmacro %}

{% macro google_search_page( request, items, root_url ) %}
{% set params = request.query.all %}
{% set querystring = '' %}
{% set root_url = root_url ? root_url : 'http://www.google.com/' %}
{% for key in params|keys %}
    {% set querystring = querystring ~ key ~ '=' ~ params[key] ~ '&' %}
{% endfor %}
{% if querystring != '' %}
    {% set querystring = 'search?' ~ querystring %}
{% endif %}
{% set items = _self.google_results(items) %}
{{ scrap.get(root_url ~ querystring).insert('#search ol', items)|raw }}
{% endmacro %}

