{% macro pageTree( opts, level = 0 ) %}

{% if not opts %}{% set opts = {} %}{% endif %}

{% if not opts.pages %}
    {% set pages = pages.getAll %}
{% else %}
    {% set pages = opts.pages %}
{% endif %}

<{{ opts.listType|default('ul') }}{% if opts.id %} id="{{ opts.id }}"{% endif %}{% if opts.class %} class="{{ opts.class }}"{% endif %}{% if opts.note %} data-note="{{ opts.note }}"{% endif %}>

    {% for item in pages %}
    
    <li{% if item.isCurrent or item.isParentOfCurrent %} class="{% if item.isCurrent %}current {% endif %}{% if item.isParentOfCurrent %}parent{% endif %}"{% endif %}>
        {% if item.isPage %}
        <a href="{{ item.urlPath }}">{{ item.niceName }}</a>
        {% else %}
        <span>{{ item.niceName }}</span>
        {% endif %}
        {% if item.children and (not opts.maxDepth or opts.maxDepth > level + 1) %}
        {% set opts = opts|merge({pages:item.children}) %}
        {{ _self.pageTree( opts, level + 1 ) }}
        {% endif %}
    </li>
    
    {% endfor %}

</{{ opts.listType|default('ul') }}>

{% endmacro %}