{% if level == 0 %}
<{{ opts.type }}{% for attr, val in opts.attrs %} {{ attr }}="{{ val }}"{% endfor %}>
{% else %}
<{{ opts.type }}>
{% endif %}

    {% for item in pages %}
    
    <li{% if item.isCurrent or item.isParentOfCurrent %} class="{% if item.isCurrent %}{{ opts.currentClass }} {% endif %}{% if item.isParentOfCurrent %}{{ opts.parentClass }}{% endif %}"{% endif %}>
        {% if item.isPage %}
        <a href="{{ item.urlPath }}">{{ item.niceName }}</a>
        {% else %}
        <span>{{ item.niceName }}</span>
        {% endif %}
        {% if item.children and (not opts.maxDepth or opts.maxDepth > level + 1) %}
        {{ pt.snippets.navigation.pageTree(opts, item.children, level + 1 ) }}
        {% endif %}
    </li>
    
    {% endfor %}

</{{ opts.type }}>